@using DataStructure
@model Article
@{
    ViewBag.Title = ViewBag.Des;
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page article-page">
    <div class="article-header">
        <h1>
            @Model.Title
        </h1>
    </div>

    <section class="section-video">
        <div class="container">
            <div>
                <video controls="controls">
                    <source src="~/Content/Video/SampleVideo_720x480_5mb.mp4" type="video/mp4" />

                </video>
                <div class="desc">
                    <h2>فیلم آموزشی @Model.Title</h2>
                    <p>
                      @Model.VideoDesc
                    </p>
                </div>
            </div>
        </div>
    </section>


    <div class="des-post row">
   
        <div class="des-post-content des-page-content col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h2>@Model.Title</h2>
            <p>
                @Model.Remark
            </p>
            <div class="items-post">
                <div>

                    <p>
                    </p>
                </div>

            </div>

        </div>
    </div>


</div>
