@using DataStructure
@model IEnumerable<Content>
@{
    ViewBag.Title = ViewBag.Des;
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page">


    <div class="head-post " style="background-image: url('@Url.Action("ShowImage","Home",new { id=ViewBag.FileId})');">
        <div class="container">
            <div class="head-post-title">
                <label>تعمیر لوازم خانگی @ViewBag.Brand</label>
            </div>
            <div class="head-post-content">
                <span>دینا سرویس ارائه دهنده ی خدمات تعمیر لوازم خانگی در سراسر تهران</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-product">
            <div class="row ">
                <div class="mini-header">
                    <span>موارد مطالعاتی</span>
                </div>
                <div class="section-header">
                    <h3>
                        از بین بردن چالش های تعمیر لوازم خانگی تخصص ماست
                    </h3>
                </div>

                <div class="section-content">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="study-item">
                                    <div>
                                        <img alt="@item.Title" src="@Url.Action("ShowImage","Home",new { id=item.FileId})" />
                                    </div>

                                    <div class="study-item-body">
                                        <h2>@item.Title</h2>
                                        <span class="des-product">@Html.Raw(Server.HtmlDecode(item.Description))</span>
                                        <a href="@Url.Action("Items","Content",new { area="",id=item.Id,slug=item.Slug.Replace(' ','-')})">
                                            <span class="button-c">اطلاعات بیشتر را مشاهده کنید</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>


            </div>
        </div>
    </div>

</div>
