
@{
    ViewBag.Title = "مرکز تخصصی تعمیر لوازم خانگی در تهران";
    ViewBag.Des = "تعمیر لوازم خانگی،تعمیر لوازم خانگی در تهران،تعمیرات لوازم خانگی،آموزش تعمیرات لوازم خانگی،تعمیرلوازم خانگی،دینا سرویس";
    ViewBag.Key = "،تعمیر لازم خانگی در شرق تهران،تعمیر لوازم خانگی در شمال تهران،تعمیر لوازم خانگی در غرب تهران،دینا سرویس،تعمیر لوازم خانگی،تعمیر لوازم خانگی در تهران،تعمیر لوازم خانگی در محل،تعمیر لوازم خانگی ازران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Action("GetSlid", "Home", null)


@Html.Action("GetService", "Home", null)

@Html.Action("GetStudy", "Home", null)

@*<section class="section-video">
    <div class="container">
        <div>
            <video controls="controls">
                <source src="~/Content/Video/SampleVideo_720x480_5mb.mp4" type="video/mp4" />
            </video>
            
        </div>
    </div>
</section>*@

@Html.Action("GetInfo", "Home", null)

@Html.Action("GetRegister", "Home", null)


@Html.Action("GetCompanyInfo", "Home", null)

