<!DOCTYPE html>

<html lang="fa-IR" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="alternate" href="http://wash.dinaservice.com" hreflang="fa-IR" />
    <meta charset="UTF-8" />
    <link href="~/Content/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title | دینا سرویس</title>
    <meta name="description" content="@ViewBag.Des" />
    <meta name="keywords" content="@ViewBag.Key" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bootstrap/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/site/css")
    @Scripts.Render("~/bundles/all")
    @Styles.Render("~/style/css")


</head>
<body @*onload="myFunction()*@ ">
    @*<div id="atomo">


            <i class="background"></i>
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>


        </div>*@
    <div id="myDiv" class="animate-bottom main-div">


        <div class="container-fluid container-nav">
            <div class="row header-nav-panel ordinal-box">
                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-4 logo-company item-first">
                    <a href="/Home/Index">
                        <img src="/Content/Images/dinaservice.png" alt="دینا سرویس" />
                    </a>
                </div>


                <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 navbar-panel  item-third">
                    <div class="r-collapse">
                        <ul class="icon-nav">
                            <li class="bar1"></li>
                            <li class="bar2"></li>
                            <li class="bar3"></li>
                        </ul>
                    </div>
                    <ul>
                        <li>
                            <nav class="r-nav navigation-menu sidenav close-nav ">
                                <div id="accordian" class="content-navigation-menu">
                                    <ul class="list-nav">

                                        <li>
                                            <a class="dropdown-btn">
                                                <span>برندها ی لوازم خانگی</span>

                                                <ul class="btn-menu">
                                                    <li class="bar1"></li>
                                                    <li class="bar3"></li>
                                                </ul>

                                            </a>
                                            <ul class="mega-menu">

                                                <li>
                                                    <div class="row">
                                                        @Html.Action("GenerateMenu", "Home", null)

                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                      

                                        <li>
                                            <a href="#">
                                                <span>سوالات متداول</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("AboutUs","Home",new { area="",id=1,slug="درباره-دیناسرویس"})" class="dropdown-btn">
                                                <span> درباره ی ما</span>

                                            </a>

                                        </li>

                                        <li>
                                            <a href="@Url.Action("ContactUs","Home",new { area="",id=1,slug="تماس-با-دیناسرویس"})" class="dropdown-btn">
                                                <span> تماس با ما</span>

                                            </a>

                                        </li>

                                    </ul>
                                </div>

                            </nav>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6 support-box item-second">
                    <ul>
                        <li>
                            <img src="/Content/Images/image-message.svg" alt="ثبت درخواست تعمیر لوازم خانگی" />
                        </li>
                        <li class="header-info">
                            <ul>
                                <li>آیا از ما سوالی دارید</li>
                                <li> مشاوره رایگان : <a href="#">02126103606</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="search-box">
                                <a>
                                    <i class="fas fa-search"></i>
                                </a>
                                <div class="search-element">
                                    <input type="text" name="name" value="" placeholder="جستجو ..." />
                                    <a><i class="fas fa-search"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <main>

            @RenderBody()











            @*<section class="section-other-texts">
                    <div class="container">

                    </div>
                </section>*@
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="row service-footer">


                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                    <span>
                                        <h3>
                                            شبکه های اجتماعی
                                        </h3>
                                    </span>
                                    <ul class="social-media">
                                        <li>
                                            <a class="facebook-button" href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="googleplus-button" href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="telegram-button" href="#">
                                                <i class="fab fa-telegram-plane"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="instagram-button" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="linkedin-button" href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                    <ul>
                                        <li>
                                            <span>
                                                <h3>
                                                    شعبات دینا سرویس
                                                </h3>
                                            </span>
                                        </li>
                                        <li>
                                            <address>
                                                <span>
                                                    <strong>آدرس دفتر شرق دینا سرویس:</strong>
                                                    ایـران، تهـران، خیـابان پیروزی، نبش چهارراه فرزانه، پلاک 43
                                                    <br />
                                                    <strong>تلفن:</strong>
                                                    02177478564 | 02177151790 - 3

                                                </span>
                                            </address>
                                        </li>
                                        <li>
                                            <address>
                                                <span>
                                                    <strong>آدرس دفتر غرب دینا سرویس:</strong>
                                                    ایـران، تهـران، خیـابان اشرفی اصفهانی، ساختمان هامون، واحد 48
                                                    <br />
                                                    <strong>تلفن:</strong>
                                                    02144239870 - 1

                                                </span>
                                            </address>
                                        </li>
                                        <li>
                                            <address>
                                                <span>
                                                    <strong>آدرس دفتر شمال دینا سرویس:</strong>
                                                    ایـران، تهـران، اقدسیه، خیـابان سپند، کوچه کامران، پاساژ صاحب قرانیه، واحد 32
                                                    <br />
                                                    <strong>تلفن:</strong>
                                                    02126100783 | 02126120917

                                                </span>
                                            </address>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="left-box-footer">
                                <ul>
                                    <li> <img src="/Content/Images/dinaservice.png" alt="دینا سرویس" /></li>
                                    <li>
                                        <address>
                                            <span>
                                                <strong>آدرس دفتر مرکزی دینا سرویس:</strong>
                                                ایـران، تهـران، خیـابان پیروزی، نبش چهارراه فرزانه، پلاک 43
                                                <br />
                                                <strong>تلفن:</strong>
                                                02177478564 | 02177151790-3

                                            </span>
                                        </address>
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </footer>
        </main>
    </div>
    @Scripts.Render("~/bundles/body")

    <script>
        $('.owl-carousel').owlCarousel({
            rtl: true,
            loop: false,
            margin: 40,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
    <script src="/App_theme/DinaTheme/js/aos.js"></script>
    <script>
        function aos() {

            AOS.init({
                easing: "ease-in-out-sine",
                once: true
            });
        }

    </script>
</body>
</html>
